@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

html {
  height: 100%;
}

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages-description {
  margin-top: 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.advantages-icon-accomodation::after {
  position: absolute;
  width: 75px;
  height: 72px;
  top: 89px;
  left: 50%;
  margin-left: -38px;
  background-image: url(/img/index/icon_housing.svg);
  content: "";
}

.advantages-icon-food::after {
  position: absolute;
  width: 74px;
  height: 70px;
  top: 91px;
  left: 50%;
  margin-left: -37px;
  background-image: url(/img/index/icon_food.svg);
  content: "";
}

.advantages-icon-souvenir::after {
  position: absolute;
  width: 64px;
  height: 76px;
  top: 85px;
  left: 50%;
  margin-left: -32px;
  background-image: url(/img/index/icon_souvenirs.svg);
  content: "";
}

.advantages-image-row {
  display: flex;
}

.advantages-image {
  list-style-type: none;
}

.advantages-item {
  position: relative;
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages-blue-bg {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-white-bg {
  background-color: #ffffff;
}

.advantages-gray-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-light-gray-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper-main {
  width: 250px;
  margin-top: 98px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-wrapper-secondary {
  width: 250px;
  margin-top: 184px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.breadcrumbs-item:first-child {
  width: 12px;
  height: 12px;
  margin-right: 26px;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button-apply {
  width: 160px;
  height: 48px;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-details {
  grid-area: btn-d;
  width: 151px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.button-favorites {
  grid-area: btn-f;
  width: 160px;
  height: 37px;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-favorites-added {
  grid-area: btn-f;
  width: 160px;
  height: 37px;
  background: #7db54f;
  border-radius: 4px;
}

.button-header {
  width: 160px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.button-mailing {
  width: 200px;
  height: 60px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
}

.button-mailing:hover {
  background-color: #68a2ca;
}

.button-mailing:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-mailing:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-mailing:disabled {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-mailing:disabled:hover {
  cursor: default;
}

.button-reset {
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
}

.button-searching {
  width: 575px;
  height: 60px;
  margin-top: 57px;
  margin-bottom: 91px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  border-radius: 10px;
}

.button-show-more {
  font-size: 20px;
  line-height: 26px;
  width: 575px;
  height: 60px;
  font-weight: bold;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-facebook,
.button-twitter,
.button-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
}

.button-facebook:hover .footer-social-icon,
.button-twitter:hover .footer-social-icon,
.button-youtube:hover .footer-social-icon {
  fill: #68a2ca;
}

.button-facebook:focus-visible,
.button-twitter:focus-visible,
.button-youtube:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-facebook:active,
.button-twitter:active,
.button-youtube:active {
  opacity: 0.3;
}

.button-header:hover,
.button-searching:hover {
  background-color: #615048;
}

.button-header:focus-visible,
.button-searching:focus-visible {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button-header:active,
.button-searching:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled,
.button-searching:disabled {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled:hover,
.button-searching:disabled:hover {
  cursor: default;
}

.catalog-filter {
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("/img/catalog/background_catalog.jpg");
}

.catalog-filter-accomodation {
  width: 150px;
}

.catalog-filter-buttons {
  width: 160px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
  padding-bottom: 86px;
}

.catalog-filter-infrastructure {
  width: 150px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-price {
  width: 287px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
}

.catalog-hotels-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-mailing {
  margin-top: 89px;
  margin-bottom: 137px;
  text-align: center;
}

.catalog-mailing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 810px;
  height: 224px;

  margin-left: auto;
  margin-right: auto;
}

.catalog-title {
  margin: 0;
  padding-top: 35px;
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 42px;
}

.catalog-wrapper {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}

.contacts-phone {
  padding: 15px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.contacts-phone:active {
  opacity: 0.3;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.favorites-number {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  background-color: transparent;
}

.favorites-ellipse {
  position: relative;
  width: 19px;
  height: 19px;
}

.filter-price-inputs {
  display: flex;
}

.focus-wrapper {
  display: block;
  padding: 4px 12px 6px;
  border-radius: 10px;
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo-htmlacademy {
  margin-left: 31px;
  padding: 18px 22px 13px;
  align-self: center;
  border-radius: 10px;
}

.footer-logo-htmlacademy:hover .footer-logo-icon {
  fill: #756257;
}

.footer-logo-htmlacademy:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.footer-logo-htmlacademy:active {
  opacity: 0.3;
}

.footer-phone {
  width: 720px;
  margin-left: 11px;
}

.footer-social-icon {
  display: block;
  fill: #83b3d3;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  list-style-type: none;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  width: 1056px;
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  margin-left: 60px;
}

.hotel-button {
  padding-top: 31px;
  padding-bottom: 31px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 36px 151px 8px 160px 361px 160px;
  grid-template-rows: min-content min-content 30px min-content;
  grid-template-areas:
    "img    gap    title  title  title  gap3    stars"
    "img    gap    type   gap5   cost   gap3    gap4"
    "img    gap    gap2   gap2   gap2   gap3    gap4"
    "img    gap    btn-d  gap6   btn-f  gap3    rating";
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e6e6;
}

.hotel-card-cost {
  grid-area: cost;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.hotel-card-image {
  display: block;
  grid-area: img;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card-rating {
  grid-area: rating;
  width: 160px;
  height: 37px;
  margin: 0;
  font-size: 16px;
  line-height: 37px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-title {
  grid-area: title;
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}

.hotel-card-type {
  grid-area: type;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

input[name="email"] {
  width: 600px;
  height: 60px;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.icon-favorites-ellipse {
  position: absolute;
  top: 0px;
  left: 22px;
  width: 19px;
  height: 19px;
}

.mailing {
  width: 1200px;
  color: #ffffff;
  text-align: center;
  background-color: #83b3d3;
  background-image: url("/img/index/background_subscribe.jpg");
}

.mailing-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
}

.mailing-form {
  display: grid;
  grid-template-columns: 600px 200px;
}

.mailing-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.mailing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 810px;
  height: 224px;
  padding-top: 94px;
  padding-bottom: 93px;
  margin-left: auto;
  margin-right: auto;
}

.main-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.main-screen {
  text-align: center;
}

.main-screen-about {
  width: 720px;
  margin-top: 63px;
  margin-bottom: 79px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.main-screen-description {
  padding: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  color: #333333;
}

.main-screen-image {
  position: relative;
  background-color: #83b3d3;
  background-image: url("/img/index/background_welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-screen-image::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url(/img/index/background-divider.svg);
  content: "";
}

.main-screen-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-screen-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation::after {
  position: absolute;
  left: 50%;
  z-index: 2;
  width: 138px;
  height: 70px;
  margin-left: -69px;
  background-image: url(/img/logo_sedona.svg);
  content: "";
}

.navigation-icon {
  fill: #000000;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-right: 5px;
  padding-left: 4px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible .focus-wrapper {
  color: #756257;
  outline: 3px solid #83b3d3;
}

.navigation-link:focus-visible {
  outline: none;
}

.navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 71px;
  padding: 0;
  width: 400px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 72px;
  max-width: 300px;
}

.navigation-user-favorites {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 23px;
  padding: 10px;
}

.navigation-user-favorites:hover .navigation-icon {
  fill: #756257;
}

.navigation-user-favorites:focus-visible {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-user-favorites:active {
  opacity: 0.3;
}

.navigation-user-favorites .navigation-icon,
.navigation-user-search .navigation-icon {
  vertical-align: text-top;
}

.navigation-user-search {
  width: 18px;
  height: 18px;
  padding: 10px;
}

.navigation-user-search:hover .navigation-icon {
  fill: #756257;
}

.navigation-user-search:focus-visible {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-user-search:focus-visible .navigation-icon {
  fill: #756257;
}

.navigation-user-search:active {
  opacity: 0.3;
}

.page-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  align-items: center;
  padding-top: 31px;
}

.pagination-item {
  width: 55px;
  height: 55px;
  margin-right: 8px;
  font-size: 20px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-link-current {
  color: #000000;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rendering-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.rendering-type-amount {
  margin-left: auto;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.rendering-type-cards {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url(/img/catalog/icon_mode_cards.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.rendering-type-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.rendering-type-item:last-child {
  margin-right: 0;
}

.rendering-type-list {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url(/img/catalog/icon_mode_list.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.rendering-type-slide {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url(/img/catalog/icon_mode_slideshow.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.rendering-active {
  border: 2px solid #000000;
}

.searching {
  text-align: center;
}

.searching-description {
  width: 720px;
  margin-top: 44px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.searching-title {
  width: 720px;
  margin-top: 91px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

select[name="sorting"] {
  width: 287px;
  height: 48px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

select[name="rendering"] {
  width: 160px;
  height: 48px;
  margin-left: 51px;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-type-form {
  width: 287px;
  margin-left: 192px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
