@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

html {
  height: 100%;
}

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.advantages-image-row {
  display: flex;
}

.advantages-image {
  list-style-type: none;
}

.advantages-item {
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages-blue-bg {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-white-bg {
  background-color: #ffffff;
}

.advantages-gray-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-light-gray-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.button-apply {
  width: 160px;
  height: 48px;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-details {
  width: 151px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.button-favorites {
  width: 160px;
  height: 37px;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-favorites-added {
  width: 160px;
  height: 37px;
  background: #7db54f;
  border-radius: 4px;
}

.button-header {
  width: 160px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.button-mailing {
  width: 200px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
}

.button-reset {
  width: 160px;
  height: 48px;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
}

.button-searching {
  width: 575px;
  height: 60px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  border-radius: 10px;
}

.button-show-more {
  font-size: 20px;
  line-height: 26px;
  width: 575px;
  height: 60px;
  font-weight: bold;
  background: #83b3d3;
  border-radius: 4px;
}

.catalog-filter {
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("/img/catalog/background_catalog.jpg");
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
}

.catalog-hotels-title {
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-mailing {
  text-align: center;
}

.catalog-title {
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.catalog-sorting {
  display: flex;
  align-items: center;
}

.catalog-wrapper {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}

.contacts-phone {
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.header-logo {
  margin-left: 151px;
}

.hotel-button {
  text-align: center;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
}

.hotel-card-type,
.hotel-card-cost {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.hotel-card-rating {
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-list {
  margin: 0;
  padding: 0;
}

.footer-logo-htmlacademy {
  margin-left: 53px;
  align-self: center;
}

.footer-phone {
  width: 720px;
  margin-left: 61px;
}

.footer-social {
  width: 110px;
  margin-left: 72px;
}

.footer-social-item {
  list-style-type: none;
}

.footer-social-list {
  margin: 0;
  padding: 0;
}

.hotel-list {
  list-style-type: none;
}

input[name="email"] {
  width: 600px;
  height: 60px;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0px 0px 10px;
  opacity: 0.6;
}

.mailing {
  width: 1200px;
  text-align: center;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("/img/index/background_subscribe.jpg");
}

.mailing-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
}

.mailing-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.main-screen {
  text-align: center;
}

.main-screen-about {
  width: 1200px;
  text-align: center;
  background-color: #ffffff;
}

.main-screen-description {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  color: #333333;
}

.main-screen-image {
  background-color: #83b3d3;
  background-image: url("/img/index/background_welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-screen-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-screen-title {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.navigation-list {
  margin: 0;
  margin-left: 72px;
  padding: 0;
  width: 309px;
}

.navigation-user {
  margin-left: auto;
  margin-right: 72px;
  width: 250px;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-footer-container {
  display: flex;
}

.page-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  align-items: center;
}

.pagination-item {
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-item-current {
  background-color: #f2f2f2;
}

.pagination-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}

.pagination-link-current {
  color: #000000;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rendering-type-amount {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.rendering-type-list {
  margin: 0;
  padding: 0;
}

.rendering-type-list {
  list-style-type: none;
}

.searching {
  text-align: center;
}

.searching-description {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.searching-title {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
