@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

html {
  height: 100%;
}

.advantages {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.advantages-description {
  margin-top: 24px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
}

.advantages-icon-accomodation::after {
  position: absolute;
  width: 75px;
  height: 72px;
  top: 89px;
  left: 50%;
  margin-left: -38px;
  background-image: url("../img/index/icon_housing.svg");
  content: "";
}

.advantages-icon-food::after {
  position: absolute;
  width: 74px;
  height: 70px;
  top: 91px;
  left: 50%;
  margin-left: -37px;
  background-image: url("../img/index/icon_food.svg");
  content: "";
}

.advantages-icon-souvenir::after {
  position: absolute;
  width: 64px;
  height: 76px;
  top: 85px;
  left: 50%;
  margin-left: -32px;
  background-image: url("../img/index/icon_souvenirs.svg");
  content: "";
}

.advantages-image-row {
  display: flex;
}

.advantages-image {
  list-style-type: none;
}

.advantages-item {
  position: relative;
  width: 400px;
  height: 384px;
  list-style-type: none;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-number {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  text-transform: uppercase;
}

.advantages-blue-bg {
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages-white-bg {
  background-color: #ffffff;
}

.advantages-gray-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-light-gray-bg {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-wrapper-main {
  width: 250px;
  margin-top: 98px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-wrapper-secondary {
  width: 250px;
  margin-top: 184px;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-item {
  position: relative;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
}

.breadcrumbs-item:first-child {
  margin-right: 10px;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  top: 6px;
  left: -6px;
  width: 5px;
  height: 8px;
  background-image: url("../img/catalog/icon_nav_link_breadcrumbs.svg");
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-link {
  padding: 3px 8px 4px;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 6px 8px 8px;
  border-radius: 4px;
}

.breadcrumbs-link-main:hover {
  opacity: 0.6;
}

.breadcrumbs-link-main:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.breadcrumbs-link-main:active {
  opacity: 0.3;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.button-apply {
  width: 160px;
  height: 48px;
  margin-bottom: 15px;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-apply:hover {
  background-color: #68a2ca;
}

.button-apply:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.button-apply:active {
  opacity: 0.3;
}

.button-details {
  grid-area: btn-d;
  justify-self: end;
  width: 151px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.button-favorites {
  grid-area: btn-f;
  width: 160px;
  height: 37px;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-favorites-added {
  grid-area: btn-f;
  width: 160px;
  height: 37px;
  background: #7db54f;
  border-radius: 4px;
}

.button-favorites-added:hover {
  background-color: #6c9e42;
}

.button-favorites-added:focus-visible {
  background-color: #6c9e42;
  outline: 3px solid #756257;
}

.button-favorites-added:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-header {
  width: 160px;
  height: 37px;
  background-color: #756257;
  border-radius: 4px;
}

.button-mailing {
  grid-column: 2 / 3;
  height: 60px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  background-color: #83b3d3;
  border-radius: 0px 10px 10px 0px;
}

.button-mailing:hover,
.button-modal-search:hover,
.button-favorites:hover,
.button-show-more:hover {
  background-color: #68a2ca;
}

.button-mailing:focus-visible,
.button-modal-search:focus-visible,
.button-favorites:focus-visible,
.button-show-more:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.button-mailing:active,
.button-modal-search:active,
.button-favorites:active,
.button-show-more:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-mailing:disabled {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-mailing:disabled:hover {
  cursor: default;
}

.modal-children-info {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
  width: 25px;
  height: 25px;
  background-color: #83b3d3;
  background-image: url("../img/icon_modal_info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.modal-children-info:hover {
  background-color: #68a2ca;
}

.modal-children-info:hover ~ .modal-tooltip-info {
  display: block;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

.button-modal-adult-plus,
.button-modal-adult-minus,
.button-modal-children-plus,
.button-modal-children-minus {
  position: absolute;
  width: 25px;
  height: 25px;
  padding: 0;
  background-color: transparent;
  border-radius: 4px;
}

.button-modal-adult-plus:hover .modal-adult-plus-icon,
.button-modal-adult-minus:hover .modal-adult-minus-icon,
.button-modal-children-plus:hover .modal-children-plus-icon,
.button-modal-children-minus:hover .modal-children-minus-icon {
  fill: #000000;
}

.button-modal-adult-plus:focus-visible,
.button-modal-adult-minus:focus-visible,
.button-modal-children-plus:focus-visible,
.button-modal-children-minus:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-modal-adult-plus:active,
.button-modal-adult-minus:active,
.button-modal-children-plus:active,
.button-modal-children-minus:active {
  opacity: 0.3;
}

.button-modal-adult-plus,
.button-modal-children-plus {
  top: 12px;
  right: 13px;
}

.button-modal-adult-minus,
.button-modal-children-minus {
  top: 12px;
  left: 13px;
}

.button-modal-search {
  grid-column: 1 / -1;
  grid-row: 6 / 7;
  margin-top: 40px;
  width: 575px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 10px;
}

.button-modal-search-close {
  position: absolute;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.button-modal-search-close:hover {
  background-color: #e6e6e6;
}

.button-modal-search-close:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-modal-search-close:active {
  background-color: #e6e6e6;
}

.button-modal-search-close:active .modal-search-close-icon {
  fill: #a1a1a1;
}

.modal-search-form {
  margin-top: 55px;
}

.modal-search-group {
  margin: 0;
  padding: 0;
}

.button-popover-favorites {
  padding: 22px 0 22px 0;
  width: 400px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  background-color: #756257;
  border-radius: 0px 0px 20px 20px;
}

.button-popover-remove {
  margin-top: 7px;
  margin-left: auto;
  padding: 0;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.button-popover-remove:hover .popover-remove-icon {
  fill: #000000;
}

.button-popover-remove:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-popover-remove:active .popover-remove-icon {
  fill: #cccccc;
}

.button-popover-remove:active {
  outline: none;
}

.button-reset {
  width: 100px;
  height: 32px;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  text-transform: none;
  background-color: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.button-reset:active {
  opacity: 0.3;
}

.button-searching {
  width: 575px;
  height: 60px;
  margin-top: 57px;
  margin-bottom: 91px;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  border-radius: 10px;
}

.button-show-more {
  font-size: 20px;
  line-height: 26px;
  width: 575px;
  height: 60px;
  font-weight: bold;
  background-color: #83b3d3;
  border-radius: 4px;
}

.button-facebook,
.button-twitter,
.button-youtube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
}

.button-facebook:hover .footer-social-icon,
.button-twitter:hover .footer-social-icon,
.button-youtube:hover .footer-social-icon {
  fill: #68a2ca;
}

.button-facebook:focus-visible,
.button-twitter:focus-visible,
.button-youtube:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.button-facebook:active,
.button-twitter:active,
.button-youtube:active {
  opacity: 0.3;
}

.button-header:hover,
.button-searching:hover,
.button-details:hover {
  background-color: #615048;
}

.button-header:focus-visible,
.button-searching:focus-visible,
.button-details:focus-visible {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.button-header:active,
.button-searching:active,
.button-details:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled,
.button-searching:disabled {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.button-header:disabled:hover,
.button-searching:disabled:hover {
  cursor: default;
}

.catalog-filter {
  width: 1200px;
  color: #ffffff;
  background-color: #83b3d3;
  background-image: url("../img/catalog/background_catalog.jpg");
}

.catalog-filter-accomodation {
  width: 150px;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 59px;
  width: 160px;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 63px;
}

.catalog-filter-infrastructure {
  width: 150px;
}

.catalog-filter-input {
  padding: 0;
  padding-left: 18px;
  width: 122px;
  height: 44px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-input.max-price {
  margin-left: -1px;
  border-radius: 0 4px 4px 0;
}

.catalog-filter-input.min-price {
  margin-right: -1px;
  border-radius: 4px 0 0 4px;
}

.catalog-filter-input.max-price:hover {
  z-index: 1;
  border-color: #b0b7ba;
}

.catalog-filter-input.max-price:focus-visible {
  z-index: 1;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: 3px solid #83b3d3;
}

.catalog-filter-input.max-price:active {
  border-color: #ffffff;
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.catalog-filter-input.min-price:hover {
  z-index: 1;
  border-color: #b0b7ba;
}

.catalog-filter-input.min-price:focus-visible {
  z-index: 1;
  border-color: #ffffff;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: 3px solid #83b3d3;
}

.catalog-filter-input.min-price:active {
  border-color: #ffffff;
  background-color: #756257;
  box-shadow: none;
  outline: none;
}

.catalog-filter-item {
  margin-bottom: 9px;
}

.catalog-filter-list {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-price {
  width: 287px;
}

.catalog-filter-title {
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
}

.catalog-hotels {
  display: flex;
  flex-direction: column;
}

.catalog-hotels-title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 39px;
  font-weight: bold;
  text-transform: uppercase;
}

.catalog-mailing {
  margin-top: 89px;
  margin-bottom: 137px;
  text-align: center;
}

.catalog-mailing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 810px;
  height: 224px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-title {
  margin: 0;
  padding-top: 35px;
  font-style: normal;
  font-size: 60px;
  line-height: 78px;
  font-weight: bold;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 42px;
}

.catalog-wrapper {
  width: 1056px;
  margin-left: auto;
  margin-right: auto;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
}

.contacts-phone {
  padding: 15px;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
}

.contacts-phone:hover {
  color: #756257;
}

.contacts-phone:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.contacts-phone:active {
  opacity: 0.3;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-checkbox-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.control-checkbox:hover .control-checkbox-mark {
  opacity: 0.6;
}

.control-checkbox:focus-within .control-checkbox-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
}

.control-checkbox:active .control-checkbox-mark {
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-checkbox-mark:before {
  position: absolute;
  top: 6px;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url("../img/catalog/icon_checked.svg");
  background-repeat: no-repeat;
  content: "";
}

.control-radio-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 4px;
  left: 0;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-radio:hover .control-radio-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.control-radio:focus-within .control-radio-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="radio"]:checked + .control-radio-mark:before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.favorites-number {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  background-color: transparent;
}

.favorites-ellipse {
  position: relative;
  width: 19px;
  height: 19px;
}

.field {
  grid-column: 1 / 2;
  height: 60px;
  padding: 0;
  padding-left: 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px 0px 0px 10px;
}

.field:hover {
  background-color: #e6e6e6;
}

.field:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field:active {
  outline: 2px solid #000000;
}

.field.error {
  outline: 2px solid #ff5757;
}

.field:focus-visible:invalid {
  outline: 2px solid #ff5757;
}

.focus-wrapper {
  display: block;
  padding: 4px 12px 6px;
  border-radius: 10px;
}

.footer-logo-icon {
  fill: #000000;
}

.footer-logo-htmlacademy {
  margin-left: 31px;
  padding: 18px 22px 13px;
  align-self: center;
  border-radius: 10px;
}

.footer-logo-htmlacademy:hover .footer-logo-icon {
  fill: #756257;
}

.footer-logo-htmlacademy:focus-visible {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.footer-logo-htmlacademy:active {
  opacity: 0.3;
}

.field-modal-arrival,
.field-modal-departure {
  box-sizing: border-box;
  width: 420px;
  height: 50px;
  padding-left: 19px;
  padding-right: 40px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  background-image: url("../img/icon_modal_date.svg");
  background-repeat: no-repeat;
  background-position: 386px 19px;
  border-radius: 4px;
}

.field-modal-arrival {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.field-modal-arrival:active,
.field-modal-departure:active,
.field-modal-adult-amount:active,
.field-modal-children-amount:active {
  background-color: #ffffff;
}

.field-modal-departure {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
}

.field-modal-adult-amount,
.field-modal-children-amount {
  width: 133px;
  height: 50px;
  padding: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  background: #f2f2f2;
}

.field-modal-adult-wrapper {
  position: relative;
  width: 133px;
  height: 50px;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.field-modal-adult-label {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.field-modal-arrival-label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.field-modal-children-wrapper {
  position: relative;
  grid-column: 5 / -1;
  grid-row: 5 / 6;
}

.field-modal-children-label {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.field-modal-departure-label {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.footer-phone {
  width: 720px;
  margin-left: 11px;
}

.footer-social-icon {
  display: block;
  fill: #83b3d3;
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  list-style-type: none;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  margin: 0;
  padding: 0;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  width: 1056px;
  margin-top: 42px;
  margin-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.header-logo {
  margin-left: 60px;
}

.hotel-button {
  padding-top: 31px;
  padding-bottom: 31px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.hotel-card {
  display: grid;
  grid-template-columns: 180px 21px 166px 8px 160px 361px 160px;
  grid-template-rows: min-content min-content 25px min-content;
  grid-template-areas:
    "img    gap    title  title  title  gap3    stars"
    "img    gap    type   gap5   cost   gap3    gap4"
    "img    gap    gap2   gap2   gap2   gap3    gap4"
    "img    gap    btn-d  gap6   btn-f  gap3    rating";
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e6e6;
}

.hotel-card-cost {
  grid-area: cost;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.hotel-card-image {
  display: block;
}

.hotel-card-image-wrapper {
  grid-area: img;
}

.hotel-card-image-wrapper:hover {
  opacity: 0.6;
}

.hotel-card-image-wrapper:focus-visible {
  outline: 3px solid #83b3d3;
}

.hotel-card-image-wrapper:active {
  opacity: 0.3;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card-rating {
  grid-area: rating;
  width: 160px;
  height: 37px;
  margin: 0;
  font-size: 16px;
  line-height: 37px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotel-card-star {
  width: 18px;
  height: 17px;
  margin-right: 7px;
  background-image: url("../img/catalog/icon_star.svg");
  background-repeat: no-repeat;
}

.hotel-card-star:last-child {
  margin-right: 0;
}

.hotel-card-stars {
  grid-area: stars;
  display: flex;
  justify-content: center;
}

.hotel-card-title {
  grid-area: title;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 31px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.hotel-card-title-wrapper {
  padding: 9px 15px 10px;
  border-radius: 10px;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-title:focus-visible .hotel-card-title-wrapper {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.hotel-card-title:focus-visible {
  outline: none;
}

.hotel-card-title:active {
  opacity: 0.3;
}

.hotel-card-type {
  grid-area: type;
  margin: 0;
  padding-left: 15px;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.icon-favorites-ellipse {
  position: absolute;
  top: 0px;
  left: 22px;
  width: 19px;
  height: 19px;
}

.mailing {
  width: 1200px;
  color: #ffffff;
  text-align: center;
  background-color: #83b3d3;
  background-image: url("../img/index/background_subscribe.jpg");
}

.mailing-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  font-weight: normal;
}

.mailing-form {
  display: grid;
  grid-template-columns: 600px 200px;
}

.mailing-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.mailing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 810px;
  height: 224px;
  padding-top: 94px;
  padding-bottom: 93px;
  margin-left: auto;
  margin-right: auto;
}

.main-catalog {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  width: 1200px;
  margin: 0 auto;
}

.main-screen {
  text-align: center;
}

.main-screen-about {
  width: 720px;
  margin-top: 63px;
  margin-bottom: 79px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

.main-screen-description {
  padding: 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
  color: #333333;
}

.main-screen-image {
  position: relative;
  background-color: #83b3d3;
  background-image: url("../img/index/background_welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-screen-image::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background-image: url("../img/index/background-divider.svg");
  content: "";
}

.main-screen-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.main-screen-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.modal-message {
  display: block;
  align-self: start;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  color: #333333;
}

.modal-message-arrival {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
}

.modal-message-departure {
  grid-column: 2 / -1;
  grid-row: 4 / 5;
}

.modal-message-error {
  color: #ff5757;
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  border-radius: 30px;
}

.modal-adult-minus-icon,
.modal-adult-plus-icon,
.modal-children-minus-icon,
.modal-children-plus-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #b3b3b3;
}

.modal-container {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal-search {
  width: 575px;
}

.modal-search-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.modal-search-title {
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
}

.modal-search-form {
  display: grid;
  grid-template-columns: 155px 189px 54px 43px 133px;
  grid-template-rows: 50px 40px 50px 40px 50px;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
}

.modal-tooltip-info {
  box-sizing: border-box;
  width: 256px;
  padding: 19px 18px 18px 22px;
  top: 391px;
  left: 351px;
  font-family: inherit;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.modal-tooltip-info::before {
  position: absolute;
  width: 19px;
  height: 9px;
  top: -8px;
  left: 50%;
  margin-left: -8px;
  background-image: url("../img/icon_model_toolip_pointer.svg");
  background-repeat: no-repeat;
  content: "";
}

.navigation {
  position: relative;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation::after {
  position: absolute;
  left: 50%;
  z-index: 2;
  width: 138px;
  height: 70px;
  margin-left: -69px;
  background-image: url("../img/logo_sedona.svg");
  content: "";
}

.navigation-icon {
  fill: #000000;
}

.navigation-item {
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-right: 5px;
  padding-left: 4px;
  padding-bottom: 14px;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible .focus-wrapper {
  color: #756257;
  outline: 3px solid #83b3d3;
}

.navigation-link:focus-visible {
  outline: none;
}

.navigation-link:active {
  outline: none;
  opacity: 0.3;
}

.navigation-link-current::before {
  position: absolute;
  right: 17px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-left: 71px;
  padding: 0;
  width: 400px;
}

.navigation-user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
  margin-right: 72px;
  max-width: 300px;
}

.navigation-user-favorites {
  position: relative;
  width: 18px;
  height: 18px;
  margin-right: 23px;
  padding: 10px;
}

.navigation-user-favorites:hover .navigation-icon {
  fill: #756257;
}

.navigation-user-favorites:focus-visible {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-user-favorites:active {
  opacity: 0.3;
}

.navigation-user-favorites .navigation-icon,
.navigation-user-search .navigation-icon {
  vertical-align: text-top;
}

.navigation-user-search {
  width: 18px;
  height: 18px;
  padding: 10px;
}

.navigation-user-search:hover .navigation-icon {
  fill: #756257;
}

.navigation-user-search:focus-visible {
  border-radius: 10px;
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.navigation-user-search:focus-visible .navigation-icon {
  fill: #756257;
}

.navigation-user-search:active {
  opacity: 0.3;
}

.page-footer {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.page-header {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: #ffffff;
}

.pagination {
  display: flex;
  align-items: center;
  padding-top: 31px;
}

.pagination-item {
  margin-right: 8px;
  font-size: 20px;
  line-height: 55px;
  font-weight: bold;
  text-align: center;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  width: 55px;
  height: 55px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus-visible {
  background-color: #68a2ca;
  outline: 3px solid #756257;
}

.pagination-link:active {
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  pointer-events: none;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.popover {
  position: absolute;
  box-sizing: border-box;
  display: none;
}

.popover-open {
  display: block;
}

.popover-favorites {
  z-index: 1;
  top: 62px;
  right: 0;
  width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
}

.popover-favorites-border {
  border: 1px solid #e6e6e6;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

.popover-favorites-item {
  display: flex;
  margin-bottom: 15px;
  width: 370px;
}

.popover-favorites-item:last-child {
  margin-bottom: 0;
}

.popover-favorites-list {
  margin: 15px;
  padding: 0;
  list-style-type: none;
}

.popover-favorites-pointer {
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -12px;
  width: 20px;
  height: 10px;
  background-image: url("../img/catalog/icon_popover_pointer.svg");
  background-repeat: no-repeat;
}

.popover-hotel-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding-right: 17px;
}

.popover-hotel-title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.popover-hotel-type {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  align-self: center;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
}

.popover-hotel-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: repeat(2, 24px);
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
}

.popover-hotel-wrapper:hover {
  opacity: 0.6;
}

.popover-hotel-wrapper:focus-visible {
  outline: 3px solid #83b3d3;
}

.popover-hotel-wrapper:active {
  opacity: 0.3;
}

.popover-remove-icon {
  fill: #cccccc;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: #817f7f;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #cccccc;
}

.range-toggle:focus-visible {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  background-color: #ffffff;
  outline: 2px solid #83b3d3;
}

.range-toggle-min {
  top: -8px;
  left: 0;
}

.range-toggle-max {
  top: -8px;
  right: 0px;
}

.range-wrapper-inputs {
  display: flex;
  position: relative;
  margin-top: 35px;
}

.range-wrapper-inputs::before {
  position: absolute;
  top: 12px;
  left: 112px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.3;
  content: "от";
}

.range-wrapper-inputs::after {
  position: absolute;
  top: 12px;
  left: 250px;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  opacity: 0.3;
  content: "до";
}

.rendering-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.rendering-type-amount {
  position: relative;
  margin-left: auto;
  font-size: 18px;
  line-height: 23px;
  font-weight: normal;
  color: #333333;
}

.rendering-type-cards {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url("../img/catalog/icon_mode_cards.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}

.rendering-type-item {
  margin-right: 8px;
}

.rendering-type-item:last-child {
  margin-right: 0;
}

.rendering-type-list {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url("../img/catalog/icon_mode_list.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}

.rendering-type-slide {
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  background-image: url("../img/catalog/icon_mode_slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
}

.rendering-type-cards:hover,
.rendering-type-list:hover,
.rendering-type-slide:hover {
  border-color: #83b3d3;
}

.rendering-type-cards:focus-visible,
.rendering-type-list:focus-visible,
.rendering-type-slide:focus-visible {
  border-color: #83b3d3;
  outline: none;
}

.rendering-type-cards:active,
.rendering-type-list:active,
.rendering-type-slide:active {
  border-color: #000000;
}

.rendering-active {
  border: 2px solid #000000;
}

.searching {
  text-align: center;
}

.searching-description {
  width: 720px;
  margin-top: 44px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: #333333;
}

.searching-title {
  width: 720px;
  margin-top: 91px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.select-arrow {
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 21px;
  margin-top: -4px;
  fill: #b3b3b3;
}

.select-control {
  font-family: inherit;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: transparent;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover {
  border-color: #83b3d3;
}

.select-control:focus {
  border-color: #83b3d3;
  outline: none;
}

.select-control:active {
  border-color: #e6e6e6;
}

.select-control:active + .select-arrow {
  fill: #e6e6e6;
}

.select-control-sorting {
  width: 287px;
  height: 48px;
  padding-left: 19px;
}

.select-control-rendering {
  width: 160px;
  height: 48px;
  padding-left: 17px;
  margin-left: 51px;
}

.sorting-type-form {
  position: relative;
  margin-left: 192px;
}

.tooltip {
  position: absolute;
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
